<%#
  # @file
  # Organize partial view. New options for the organize menu go here.
  #%>
<span id="closeOrganize" class="closeSideOption">close</span>
<div class="sideOption" id="sideOptionOrganize">
  <!-- <span class="find_key" onclick="setTimeout(function(){organize();},0)">Organize...</span> -->
  <span class="find_key">Organize...</span>
</div>
