<%#
  # @file
  # View rendering each map as a card, or empty message. Shows all regardless
  # of authentication.
  # TODO: What url is this located at?
  #%>
<h1>All Maps</h1>

<div class="maps" id="cards">
  <% @maps.each do |map| %>
    <%= render map %>
  <% end %>
  <% if @maps.empty? %>
	 <p><br>Shucks, there are no maps.<p>
  <% end %>
</div>
<div class="clearfloat"></div>
