<%#
  # @file
  # Located at /
  # Shows 3 most recently created topics, synapses, and maps.
  #%>
  
<% content_for :title, "Home | Metamaps" %>   
  
<div class="home_bg">

<div class="home_content">
<div class="home_desc">
  <div class="welcomeTo">Welcome to Metamaps</div>
  <img id="homeMapImage" src="/assets/metamap128x128.png" width="128" height="128" />
  <div class="metamapsIs">
    a home on the web for <span class="swapWord">
      <ul class="texts">
      <li>building shared knowledge</li>
      <li>learning</li>
      <li>visioning</li>
      <li>conversing</li>
      <li>collaborating</li>
      <li>sensemaking</li>
      <li>innovating</li>
      <li>designing</li>
      <li>playing</li>
      <li>exploring</li>
      </ul>
    </span>
  </div>
</div>
<div class="clearfloat"></div>

<p class="contact">
  <a href="/request" class="request button">Request Invite</a>
  <a href="#" class="learnmore button openLightbox" data-open="about">Learn More</a>
  <br>
  <br>
  explore what experienced metamappers are creating
</p>

<div class="centeredProfile">
  <div id="homeMap">
    <figure id="homeFigure">
    <% @maps.each_with_index do |map, index| %>
      <% first = index == 0 ? true : false %>
      <%= render :partial => 'maps/homemap', :locals => { :map => map, :first => first } %>
    <% end %>
    </figure>
  </div>
</div>
</div>
<div class="clearfloat"></div>

</div>


<script>

$(document).ready(function() {
  // flip through these words on the homepage
  $('.swapWord').textillate({ 
       in: { effect: 'fadeIn', delay: 20 },
       out: { effect: 'fadeOut', sync: true }, 
       loop: true,
       minDisplayTime: 2000
  });
  
  
  /*$("#homeMap").mCustomScrollbar({
    horizontalScroll:true,
    scrollButtons: { enable: true }
  }).mCustomScrollbar('scrollTo',300);*/
});


</script>