<%#
  # @file
  # Located at /
  # Shows 3 most recently created topics, synapses, and maps.
  #%>
  
<% content_for :title, "Home | Metamaps" %>   
  
<div class="home_bg">
<p class="contact">
  To get in touch, follow or tweet at us! <a target="_blank" href="https://twitter.com/metamapps">@metamapps</a>.
</p>

<div class="home_content">
<div class="home_desc">
<span class="blue">Metamaps</span> is a platform for visioning, magic making, productive conversation, understanding something, innovation, free style weaving and all night brainstorming. Metamaps is a game for making the world a better place.
</div>
<div class="clearfloat"></div>
<h2>Recently Created Maps <%= link_to "see all", maps_url%></h2>
<div class="centeredProfile">
<% @maps.each do |map| %>
    <%= render map %>
<% end %>
</div>
<div class="clearfloat leaveSpace"></div>
<p class="contact">
  Creative designs by <a target="_blank" href="http://gavinkeech.com">Gavin Keech</a>.
</p>
</div>
<div class="clearfloat"></div>

<h1 class="index">
  Welcome
</h1>
</div>
