<div id='homepage'>
  <div id='particles-1' class='particles'></div>
  <div id='particles-2' class='particles'></div>
  <div id='particles-3' class='particles'></div>
</div>
<%= javascript_include_tag 'webpacked/homepage' %>
<%= stylesheet_link_tag "home" %>
