<% unless @item.nil? %>
<div class="home" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
  <div id="showcard">
  </div>
</div>
<div class="clearfloat"></div>
<script>
	json = <%= @alljson %>;
	$(document).ready(function() {
		initFD();
	});
</script>
<% end %>
<% if @item.nil? %>
	 <p><br>Shucks, there is nothing in metamaps.<p>
<% end %>

<%= render :partial => 'items/new' %>
<%= render :partial => 'synapses/new' %>

