<%#
  # @file
  # Located at /
  # Shows 3 most recently created topics, synapses, and maps.
  #%>
  
<% content_for :title, "Home | Metamaps" %>   
  
<div class="home_bg">

<div class="home_content">
<div class="home_desc">
<span class="blue">Metamaps</span> is a platform for visioning, magic making, productive conversation, understanding something, innovation, free style weaving and all night brainstorming.
</div>
<div class="clearfloat"></div>

<p class="contact">
  <a href="/request" class="request button">Request Invite</a>
</p>

<div class="centeredProfile">
  <div id="homeMap">
    <% @maps.each do |map| %>
      <%= render map %>
    <% end %>
  </div>
</div>
<div class="clearfloat"></div>
</div>
<div class="clearfloat"></div>

<h1 class="index">
  Welcome
</h1>
</div>
