<%#
  # @file
  # Located at /
  # Shows 3 most recently created topics, synapses, and maps.
  #%>  
  
<% if !authenticated? %>
    <% content_for :title, "Home | Metamaps" %> 
    <div id="yield">
        <div class="homeWrapper">
            <div class="homeTitle">EXPERIENCE METAMAPS</div>
            <div class="homeIntro">
            <span class="green">metamaps.cc</span> is a free and open source platform. It enables individuals, communities, and organizations to build and visualize their shared knowledge and unlock their collective intelligence...
            </div>
            <iframe class="homeVideo" src="//player.vimeo.com/video/88334167?title=0&amp;byline=0&amp;portrait=0" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <div class="callToAction">
                <a href="/request" class="requestInviteCTA" data-bypass="true">REQUEST INVITE</a>
                <a href="/explore/featured" class="exploreFeaturedCTA">EXPLORE FEATURED MAPS</a>
            </div>
        </div>
    </div><!-- end yield -->
    <div class="github-fork-ribbon-wrapper left-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/connoropolous/metamaps_gen002" target="_blank">Fork me on GitHub</a>
        </div>
    </div>                     
    <script>
    Metamaps.currentSection = "";
    Metamaps.currentPage = "";
    </script>
<% elsif authenticated? %>
    <% content_for :title, "My Maps | Metamaps" %> 
    <script>
    Metamaps.Maps.Mine = <%= @maps.to_json.html_safe %>;
    Metamaps.currentSection = "";
    Metamaps.currentPage = "";
    Metamaps.GlobalUI.Search.isOpen = true;
    Metamaps.GlobalUI.Search.lock();
    </script>
<% end %>