<%#
  # @file
  # Located at /
  # Shows 3 most recently created topics, synapses, and maps.
  #
%>  
 
<% content_for :title, "Home | Metamaps" %> 
<% content_for :mobile_title, "Home" %> 
<div id="yield">
  <div class="homeWrapper homeText">
    <div class="homeTitle">Make sense, together.</div>
    <div class="homeIntro">
      <div>Untangle complex conversations, expand perspectives, and gain insights
      about what matter to you and your communities.
      </div>
      <div>Metamaps enables individual and collaborative sensemaking through
        <span class="purple">concept mapping</span>, <span class="green">live video + text chat</span>, and a <span class="yellow">shared knowledge graph</span>.
      </div>
      <a href="/request" class="requestInviteCTA">REQUEST INVITE</a>
    </div>
  </div>
</div><!-- end yield -->

<script>
  Metamaps.currentSection = ''
  Metamaps.currentPage = ''
</script>
