<%#
  # @file
  # TODO: Where is this file located?
  # Page allowing users to invite others to Metamaps.
  #%>
  
<% content_for :title, "Invite | Metamaps" %>   
  
<div class="invite">
  <h3>Invite Others</h3>
  <p>You can invite others to the Metamaps platform. Just send them the link to</p><p><strong>http://metamaps.cc/users/new</strong></p><p>and give them the access code shown below.</p>
  <div class="code"><strong><%= @user.code %></strong></div>
  <p>We invite you to be conscious as to who you invite to this platform, because much of the collaborative editing is based on trust. We want to cultivate a community here that is fun, wise, creative, and flourishing. Can you help us build a community like that?</p>
</div>
