<%#
  # @file
  # TODO: Where is this file located?
  # TODO: What does this file do?
  # TODO: Is this code old or in use?
  # I think it shows all topics, and is deprecated. -Devin
  #%>
<% unless @topic.nil? %>
<div class="home" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
  <div id="showcard">
  </div>
</div>
<div class="clearfloat"></div>
<script>
	json = <%= @alljson %>;
	$(document).ready(function() {
		initialize("chaotic");
	});
</script>
<% end %>
<% if @topic.nil? %>
	 <p><br>Shucks, there is nothing in metamaps.<p>
<% end %>

<% if authenticated? %>
	<%= render :partial => 'topics/new' %>
	<%= render :partial => 'synapses/new' %>
<% end %>

