<%#
  # @file
  # Located at /request
  # Shows a form where people can request an invite
  #%>

<% content_for :title, "Request Invite | Metamaps" %>   
  
<iframe class="requestInvite" src="https://docs.google.com/forms/d/1lWoKPFHErsDfV5l7-SvcHxwX3vDi9nNNVW0rFMgJwgg/viewform?embedded=true" width="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

<h1 class="index">
  Request Invite
</h1>

<script>
$(document).ready(function() {
  $('.requestInvite').height( (parseInt($('body').height()) - 40) ); 
});

</script>
