<div class="everything" id="cards">
  <% @all.each do |object| %>
    <%= render object %>
  <% end %>
  <% if @all.empty? %>
	 <p><br>You haven't added any topics yet.<p>
	<% end %>
</div>
<div class="clearfloat"></div>

<%= render :partial => 'items/new' %>
