.unauthenticated .feedback-icon {
	display: none;
}

.feedback-icon {
        position: fixed;
	background-image: url('/images/feedback_sprite.png');
	background-repeat: no-repeat;
	color:#FFFFFF;
	cursor:pointer;
	height:110px;
	left:0;
	margin-left:0px;
	text-indent:-100000px;
	top:65%;
	width:25px;
	z-index:100000;	
	opacity: 1;
}

.feedback-icon:hover {
	background-position: 0 -110px;	
}


