
<div className="onConsole">
{ form_for Map.new, url: maps_url, remote: true, html: { className: "new_map", id: "fork_map" } do |form|}
  
  <h3 className="forCreateMap">Save To New Map</h3>
  
  <div className="inputGroup">
    <label for="map_name">Name: </label>
    { form.text_field :name, :maxlength => 140 }
    <div className="clearfloat"></div>
  </div>
  
  <div className="inputGroup">
    <label for="map_desc">Description: </label> 
    { form.text_area :desc, className: "description", :rows => 5, :cols => 43 }
    <div className="clearfloat"></div>
  </div>
  
  <div className="inputGroup">
    <label for="map_permission">Permission*: </label>    
    <p className="permHelper">*new topics and synapses take on the same permission as the map they are created on</p>    
    <div className="permIconWrapper">
        <div className="permIcon" data-permission="commons">
          <div id="newmap_co" className="mapCommonsIcon mapPermIcon selected">
            <div className="tip">
              Anyone with an account can edit this map. Anyone without an account can only view it. 
            </div>
          </div>
          <h4>COMMONS</h4>
        </div>
        <div className="permIcon" data-permission="public">
          <div id="newmap_pu" className="mapPublicIcon mapPermIcon">
            <div className="tip">
              Only people you allow can edit this map. Anyone can view it. 
            </div>
          </div>
          <h4>PUBLIC</h4>
        </div>
        <div className="permIcon" data-permission="private">
          <div id="newmap_pr" className="mapPrivateIcon mapPermIcon">
            <div className="tip">
             Only people you allow can edit this map. No one else can view it. 
            </div>
          </div>
          <h4>PRIVATE</h4>
        </div>
        <div className="clearfloat"></div>
    </div>
    <p className="permText">Anyone with an account can edit this map. Anyone without an account can only view it.</p>
    <div className="clearfloat"></div>
  </div> 
  
  <div className="buttonWrapper">
    <button className="button cancel">Cancel</button>
    <button className="button submitMap">Create!</button>
  </div>
  <div className="clearfloat"></div>
{ end }
</div>
