<!DOCTYPE html>
<div style="padding: 16px; background: white; text-align: left;">
  <%= raw @notification.body %>
  <p style="font-size: 12px;">Make sense with Metamaps</p>
  <%= render partial: 'shared/mailer_unsubscribe_link' %>
</div>
