<%= form_for @session || Session.new, url: session_path do |form| %>
  <h3>Login</h3>
  <label for="session_email">Email</label>
  <%= form.text_field :email, class: "email" %>
  <label for="session_password">Password</label>
  <%= form.password_field :password, class: "password" %>
  <%= form.submit "Login", class: "add" %> 
<% end %>