<h1>People</h1>

<div class="people" id="people">
  <% @people.each do |person| %>
    <%= render person %>
  <% end %>
  <% if @people.empty? %>
	 <p><br>Shucks, there are no people.<p>
  <% end %>
</div>
<div class="clearfloat"></div>
