<%#
  # @file
  # Shows a list of all maps, or just a user's maps.
  # TODO: What url is this accessible at?
  #%>
  
<% content_for :title, "Explore Maps | Metamaps" %>
  
<h1 class="index">Explore Maps</h1>

<div class="maps" id="cards">
  <% @maps.each do |map| %>
    <%= render map %>
  <% end %>
  <% if @maps.empty? %>
	 <p class="empty"><br>Shucks, there are no maps. <% if authenticated? %><%= link_to "Create one if you want.", new_map_url %><% end %></p>
  <% end %>
</div>
<div class="clearfloat"></div>
