<h1>Maps</h1>

<div class="maps" id="cards">
  <% @maps.each do |map| %>
    <%= render map %>
  <% end %>
  <% if @maps.empty? %>
	 <p><br>Shucks, there are no maps.<p>
  <% end %>
</div>
<div class="clearfloat"></div>