<% content_for :title, 'Notifications | Metamaps' %>
<% content_for :mobile_title, 'Notifications' %>

<div id="yield">
  <div class="centerContent notificationPage">
    <h2 class="title"><%= @notification.subject %></h4>
    <%= @notification.body %>
    <div class="back">
      <%= link_to 'Back', notifications_path %>
    </div>
  </div>
</div>

<%= render partial: 'notifications/header' %>
