/* clear styles */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td, legend { margin: 0; padding: 0; }
img {border:0; padding:0; margin:0; display:block; text-indent:-9999px;}

html {height:100%; }
body { background:#031924; font-family:Arial, Helvetica, sans-serif; background-attachment:fixed; color:#FFF; height:100%; overflow:hidden;}

#fadeWrapper {display:none; position:absolute; z-index:2; width:100%; height:100%; background:#000; opacity:0.7; }

h1 {display:block; text-align:left; }
h2 {display:block; text-align:center; background: #333; opacity:0.8; font-size:24px;}

a {color:#FFF; text-decoration:none;}
.clearfloat {clear:both;}


.contentarea p, .contentarea ul , .contentarea ol, .contentarea table {font-size:14px; line-height:1.55em; padding:0.5em 0}
.contentarea ul li {padding:0.2em 0; }
.contentarea ol li {padding:0.2em 0; }
.contentarea ul {margin:0 0 0 1em; }
.contentarea ol {margin:0 0 0 1.3em; }

.main {height:100%; }

.headertop { display:block; height:38px; width:100%; background:#000; opacity:0.6; }
#mainTitle { float: left; }
.headertop ul { display:block; float: right; }
.headertop ul li {display:block; float:right; }

.wrapper {display:block; height:100%;}
.topleft {display:block; width:50%; height:50%; float:left; }
.topright{display:block; width:50%; height:50%; float:left; text-align:right;}
/* background: url(../images/centerCurriculum.png) no-repeat top left; */
.centercircle {display:none; width:350px; height:350px; position:fixed; top:50%; left:50%; margin-left:-175px; margin-top:-175px;}
.bottomleft {display:block; width:50%; height:50%; float:left; }
.bottomright {display:block; width:50%; height:50%; float:left; text-align:right;}

 /* add new object page */
ul.addNew { display:block; width:240px; margin:100px auto 0 auto; }
ul.addNew li { display:block; width:80px; height:80px; float:left; text-align:center; margin-top:20px; }
ul.addNew li a{ display:block; width:80px; height:80px; }
ul.addNew li:nth-child(4) a { background: url(../images/experience.png) no-repeat center 25px; }
ul.addNew li:nth-child(2) a { background: url(../images/question.png) no-repeat center 25px; }
ul.addNew li:nth-child(3) a { background: url(../images/reference.png) no-repeat center 25px; }
ul.addNew li:nth-child(6) a { background: url(../images/resource.png) no-repeat center 25px; }
ul.addNew li:nth-child(1) a { background: url(../images/idea.png) no-repeat center 25px; }
ul.addNew li:nth-child(5) a { background: url(../images/action.png) no-repeat center 25px; }


/* main page */
.objSelected {z-index:3; }
.objSelected .objectImage, .objSelected .objectContent {display:block;}

.action, .experience, .resource, .reference, .idea, .tool, .question, .opinion {display:block; position:absolute; }

.objectContent {display:none;}
.objectImage {display:none; width:50px; overflow:visible; }

