<div id="yield">
  <div class='blackBox'>
  <%= render 'form' %>
  </div>
</div>

<script>
<% Metacode.all.each do |m| %>
  <% if m.inMetacodeSet(@metacode_set) %>
    Metamaps.Admin.selectMetacodes.push("<%= m.id %>");
  <% end %>
  Metamaps.Admin.allMetacodes.push("<%= m.id %>");
<% end %>
</script>