<%#
  # @file
  # Partial for rendered a new synapse form
  # TODO: Is this used? Where?
  #%>
<div class="anypage">
	<%= form_for Synapse.new, url: synapses_url, remote: true do |form| %>
    <%= form.text_field :desc, :placeholder => "describe the connection..." %>
	<% end %>
</div>
