<%#
  # @file
  # Render all synapses, or all of a user's synapses
  # Fun fact: this is Devin's favourite view!
  # TODO: What URL is this?
  #%>
<h1 class="index"><% if @user %><%= @user.name %>'s<% end %> Synapses</h1>

<div class="synapses" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
  <div id="showcard">
  </div>
</div>
<div class="clearfloat"></div>

<script>
	json = <%= @synapsesjson %>;
	$(document).ready(function() {
		initialize("chaotic");
	});
</script>

<% if authenticated? %>
	<%= render :partial => 'topics/new' %>
	<%= render :partial => 'synapses/new' %>
<% end %>
