<div class="synapses" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
  <div id="showcard">
  </div>
</div>
<div class="clearfloat"></div>

<script>
	json = <%= @synapsesjson %>;
	$(document).ready(function() {
		initialize("chaotic");
	});
</script>

<% if authenticated? %>
	<%= render :partial => 'items/new' %>
	<%= render :partial => 'synapses/new' %>
<% end %>
