<div class="relatives" id="container">
  <div id="center-container">
    <div id="infovis"></div>    
  </div>
  <div id="showcard">
  </div>
</div>
<div class="clearfloat"></div>

<script>
	json = <%= @synapsejson %>;
	console.log(json);
	$(document).ready(function() {
		initFD();
	});
</script>

<% if authenticated? %>
	<%= render :partial => 'items/new' %>
	<%= render :partial => 'synapses/new' %>
<% end %>