<div id="yield">
  <div class="centerContent">
    <div class="page-header">
       <h2>{ t('.title') }</h2>
    </div>

    { render 'form', application: @application }
  </div>
</div>
{ render 'script' }
