<div class='blackBox'>
<p>
  <b>Name:</b>
  <%= @metacode.name %>
</p>

<p>
  <b>Icon:</b>
  <%= @metacode.icon %>
</p>


<%= link_to 'Edit', edit_metacode_path(@metacode) %> |
<%= link_to 'Back', metacodes_path %>
</div>