<h1>Topics</h1>

<div class="items" id="cards">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
  <% if @items.empty? %>
	 <p><br>Shucks, there are no topics.<p>
  <% end %>
</div>
<div class="clearfloat"></div>

<% if authenticated? %>
	<%= render :partial => 'items/new' %>
<% end %>