<h1>Items</h1>

<div class="items" id="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
  <% if @items.empty? %>
	 <p><br>Shucks, there are no items.<p>
  <% end %>
</div>
<div class="clearfloat"></div>
