/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require base
 *= require ForceDirected
 *= require jquery.mCustomScrollbar
 *= require jquery-ui
 *= require animate
*/

/* clear styles */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td,
legend {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
    text-indent: -9999px;
}
html,
body,
.main,
.wrapper {
    height: 100%;
}
.wrapper.homePage {
    /*background: url('mm-homepage-bg-image.png') no-repeat center -249px;*/
}
.wrapper.mapPage {
    overflow: hidden;
}
/* scrollbar override */

.mCS_no_scrollbar {
    padding-right: 0px !important;
}
.mCSB_container {
    margin-right: 15px !important;
}
/* forgot password fix */

.forgotPassword input[type="submit"] {
    padding: 0 5px;
    width: auto;
}
html {

} 
body {
    background: #d8d9da;
    font-family: 'din-medium', helvetica, sans-serif;
    color: #424242;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
h1 {
    display: block;
    text-align: left;
    font-family: "vinyl", sans-serif;
}
h2 {
    display: block;
    text-align: center;
    font-family: "katarine-web", sans-serif;
    background: url('black_bg.png');
    font-size: 24px;
    line-height: 35px;
}
a {
    color: #424242;
    text-decoration: none;
}
button.button,
a.button,
input[type="submit"] {
    border: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    outline: none;
    padding: 0 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #AEA9FD;
    vertical-align: top;
    color: black;
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 29px;
    min-width: 54px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
}
button.button:hover,
a.button:hover,
input[type="submit"]:hover {
    background: #B6B2FD;
}
/*
 * Utility
 */

.clearfloat {
    clear: both;
}
.leaveSpace {
    display: block;
    height: 50px;
}
.hidden {
    display: none;
}
/*
 * Layout stuffs
 */

/*#barometer_tab {
    display: none;
}*/

#error_explanation {
    background: #612127;
    padding: 30px;
    color: #FFF;
}
#error_explanation h2 {
    display: none;
}
#error_explanation ul {
    list-style: none;
}
.profile {
    height: 100%;
    margin-bottom: 50px;
}
.centeredProfile {
    margin: 0 auto;
    display: block;
    width: 830px;
}
.requestInvite {
    display: block;
    margin: -720px auto 0;
}
.new_session,
.new_user,
.edit_user,
.forgotPassword {
    display: block;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 100px 0 0 -145px;
    background: url(bg.png);
    padding: 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid #000;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}
.centerGreyForm input[type="text"],
.centerGreyForm input[type="email"],
.centerGreyForm input[type="password"] {
    width: 250px;
    height: 32px;
    font-size: 15px;
    direction: ltr;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
.centerGreyForm input[type="text"]:hover,
.centerGreyForm input[type="email"]:hover,
.centerGreyForm input[type="password"]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#closenewtopic,
#closenewsynapse {
    position: absolute;
    top: 3px;
    right: 3px;
}
.new_topic {
    /* start it off screen while it initializes the spinner, then it will be hidden with jquery */
    top: -1000px;
    left: -1000px;
    display: block;
    position: absolute;
    width: 300px;
    margin: -40px 0 0 -50px;
}
.new_synapse {
    display: none;
    position: absolute;
}
#new_topic .twitter-typeahead {
    position: absolute !important;
    top: 40px;
    left: 50px;
    z-index: 9999;
    width: 202px;
    height: 37px;
    font-family: ':atp';
}
.new_topic #topic_name,
.new_topic .tt-hint {
    width: 190px;
    background: rgba(0, 0, 0, 0.8);
    height: 25px;
    margin: 0;
    padding: 5px 5px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'LatoLight';
}
.openMetacodeSwitcher {
    display: block;
    height: 20px;
    width: 20px;
    background-image: url('MMCCicon_metacode_set_change.png');
    background-size: contain;
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 30px;
}
#metacodeImg {
    height: 120px;
}
#metacodeImgTitle {
    float: left;
    width: 120px;
    text-align: center;
    margin-left: 90px;
    font-family: 'LatoRegular';
}
/* synapse autocomplete */

.new_topic #topic_name {
    color: white;
}
.new_topic .tt-hint {
    color: grey;
}
.new_topic #topic_name,
.new_topic .tt-hint {
    width: 190px;
    background: rgba(0, 0, 0, 0.8);
    height: 25px;
    margin: 0;
    padding: 5px 5px;
    border: 1px solid black;
    outline: none;
    font-size: 18px;
    line-height: 35px;
    font-family: 'LatoRegular';
}
.new_synapse #synapse_desc {
    color: rgba(255, 255, 255, 0.7);
}
.new_synapse .tt-hint {
    color: rgba(255, 255, 255, 0.4);
}
.new_synapse #synapse_desc,
.new_synapse .tt-hint {
    width: 200px;
    background: rgba(0, 0, 0, 0.8);
    height: 18px;
    margin: 0;
    padding: 5px 5px;
    border: 1px solid black;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    font-family: 'LatoRegular';
}
label,
select,
input,
textarea {
    display: block;
}
label {
    margin-top: 10px;
    margin-bottom: 4px;
}
input[type="submit"] {
    margin-top: 5px;
}
#user_remember_me {
    margin-top: 11px;
}
#user_remember_me,
label[for="user_remember_me"] {
    float: left;
}
.contentarea p,
.contentarea ul,
.contentarea ol,
.contentarea table {
    font-size: 14px;
    line-height: 1.55em;
    padding: 0.5em 0
}
.contentarea ul li {
    padding: 0.2em 0;
}
.contentarea ol li {
    padding: 0.2em 0;
}
.contentarea ul {
    margin: 0 0 0 1em;
}
.contentarea ol {
    margin: 0 0 0 1.3em;
}
.main {
    /*overflow:hidden; */
}
#infovis-canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* --- top options --*/

.headertop {
    display: block;
    position: fixed;
    top: 20px;
    z-index: 10;
    border-radius: 5px;
    margin: 10px 0px 10px 10px;
    background: #111614;
    padding: 5px 10px;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
}
.headertop .tab {
    background: url(tab.png) no-repeat 0 0;
    position: absolute;
    top: -11px;
    right: -2px;
    display: block;
    width: 45px;
    height: 15px;
    cursor: move;
}
.headertop button,
.headertop input {
    height: 30px;
    background: none;
    color: #717474;
    font-family: 'LatoLight';
    font-size: 17px;
    border: none;
    border-right: 1px solid #717474;
    cursor: pointer;
    margin: 3px 0;
    clear: both;
    float: right;
}
.headertop button:hover,
.headertop input:hover {
    border-right: 1px solid #6d7310;
    color: #6d7310;
}
.wrapper {
    display: block;
    height: 100%;
    margin: 0 0;
}

/* account */

.sidebarAccount {
    width: 32px;
    height: 32px;
}
.unauthenticated .sidebarAccount {
    width: 84px;
    box-shadow: 0px 1px 1.5px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    border-radius: 2px;
}
.sidebarAccountIcon {
    cursor: pointer;
}
.authenticated .sidebarAccountIcon {
    height: 32px;
    width: 32px;
}
.unauthenticated .sidebarAccountIcon {
    width: 66px;
    height: 14px;
    padding: 9px;
    border-radius: 2px;
    background-color: #E0E0E0;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 14px; 
}
.sidebarAccountIcon img {
    border-radius: 17px;
}
.sidebarAccountBox {
    display: none;
    height: auto;
    padding: 10px;
    min-width: 120px;
}
.authenticated .sidebarAccountBox {
    width: auto;
}
.unauthenticated .sidebarAccountBox {
    width: 200px;
}
.sidebarAccountBox h3 {
    font-family: 'vinyl', helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
}
.sidebarAccountBox ul {
    list-style: none;
}
.sidebarAccountBox li.accountIcon {
    padding: 0;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 0px 6px;
    font-size: 18px;
    line-height: 20px;
}
li.accountIcon:hover {
    background-position: 4px 6px;
}
li.accountMaps {
    background-image: url('MMCCicon_map.png');
}
li.accountSettings {
    background-image: url('MMCCicon_settings.png');
}
li.accountAdmin {
    background-image: url('MMCCicon_admin.png');
}
li.accountInvite {
    background-image: url('MMCCicon_invite.png');
}
li.accountLogout {
    background-image: url('MMCCicon_logout.png');
}
li.accountIcon a {
    display: block;
    padding: 6px 0 6px 25px;
}
li.accountInvite span {
    display: block;
    padding: 6px 0 6px 25px;
}
.sidebarAccountBox a {

}
.sidebarAccountBox input[type="email"],
.sidebarAccountBox input[type="password"] {
    width: 200px;
    height: 32px;
    font-size: 15px;
    direction: ltr;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
.sidebarAccountBox input[type="email"]:hover,
.sidebarAccountBox input[type="password"]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.sidebarAccountBox .links a {
    display: block;
    margin-top: 5px;
}
/* Save To New Map */

.sidebarFork {
    width: 35px;
    height: 35px;
}
.sidebarForkIcon {
    position: absolute;
    width: 35px;
    height: 35px;
    background: url('MMCCicon_save_new_map.png') no-repeat center center;
    background-size: 28px 28px;
    cursor: pointer;
}
.sidebarForkIcon:hover {} .sidebarForkBox {
    position: absolute;
    display: none;
    height: auto;
    width: 182px;
    background: #000;
    top: 35px;
    right: -36px;
    padding: 10px;
    border: 1px solid black;
    font-family: 'LatoLight', helvetica, sans-serif;
}
.sidebarFork .hoverForTip:hover .tip {
    display: block;
}
.sidebarFork .tip {
    display: none;
    position: absolute;
    background: black;
    text-align: center;
    top: 36px;
    right: 0;
    color: white;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: 'LatoRegular';
    line-height: 17px;
    padding: 3px 5px 2px;
    z-index: 100;
}
/* end Save To New Map */

/* Filter */

.sidebarFilter {
    width: 35px;
    height: 35px;
}

.sidebarFilterIcon {
    position: absolute;
    width: 35px;
    height: 35px;
    background: url('MMCCicon_filter2.png') no-repeat center center;
    background-size: 28px 28px;
    cursor: pointer;
}
.sidebarFilterIcon:hover {

}

.sidebarFilterBox {
    display:none;
    height: 400px;
    width: 320px;
    padding: 10px;
    text-align: center;
    overflow-y: scroll;
}
h3.filterBox {
    text-align: left;
    float: left;
}
.sidebarFilterBox span {
    float: right;
    background: #15bad4;
    padding: 1px 4px;
    border-radius: 2px;
    margin-left: 5px;
    cursor: pointer;
}
.sidebarFilterBox ul {
    list-style: none;
}
.sidebarFilterBox li {
    float: left;
    width: 61px;
    height: 70px;
    cursor: pointer;
}
.sidebarFilterBox li:hover {
    background: #000;
}
.sidebarFilterBox li img {
    background-color: rgba(255, 255, 255, 0.1);
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
.sidebarFilterBox li p {
    font-size: 11px;
    line-height: 11px;
    font-family: arial, sans-serif;
}
.sidebarFilterBox li.toggledOff {
    opacity: 0.4;
}
.sidebarFilterBox h3 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}
#filter_by_metacode {
    border-bottom: 1px solid black;
    margin: 5px;
}
#filter_by_mapper {
    margin: 5px auto;
}
#filter_by_synapse {
    margin: 5px auto;
    border-bottom: 1px solid black;
}
/* end filter by metacode */

/* collaborate */

.sidebarCollaborate {
    width: 35px;
    height: 35px;
}
.sidebarCollaborateIcon {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url('MMCCicon_realtime_junto.png');
    background-size: 36px 36px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.sidebarCollaborateIcon.blue {
    background-image: url('MMCCicon_realtime_blue.png');
}
.sidebarCollaborateBox {
    display: none;
    height: auto;
    width: auto;
    padding: 10px;
    min-width: 180px;
}
h3.realtimeBoxTitle {
    margin-bottom: 10px;
    text-align: left;
    float: left;
    font-family: 'Lato', helvetica, sans-serif;
}
.sidebarCollaborateBox .realtimeOnOff {
    float: left;
    padding: 4px;
    border-radius: 2px;
    margin-left: 12px;
    cursor: pointer;
    width: 31px;
    text-align: center;
}
.sidebarCollaborateBox .rtOff {
    background: white;
    color: black;
}
.sidebarCollaborateBox .rtOff:hover {
    padding: 3px;
    border: 1px solid #15bad4;
}
.sidebarCollaborateBox .rtOn {
    background: #15bad4;
    color: white;
}
.realtimeMapperList .rtMapper {
    list-style-type: none;
    white-space: nowrap;
    padding: 2px 5px 2px 30px;
    display: block;
    background-size: 26px 26px;
    background-repeat: no-repeat;
    background-position: 4px center;
    margin-bottom: 5px;
}
.realtimeMapperList .littleRtOff {
    background-image: url('/assets/MMCCicon_realtime_junto.png');
}
.realtimeMapperList .littleRtOn {
    background-image: url('/assets/MMCCicon_realtime_blue.png');
}
/* end collaborate */

.nodemargin {
    padding-top: 120px;
}
.divider {
    margin: 20px 50px 20px 50px;
    border-bottom: 2px solid #FFF;
}
.empty {
    margin-left: 50px;
}
#menus {
    margin: 0 7px;
}
/* right click menu */

.rightclickmenu {
    position: absolute;
    background: white;
    z-index: 20;
    border-radius: 2px;
    color: black;
}
.rightclickmenu ul {
    padding: 2px;
}
.rightclickmenu ul li {
    list-style: none;
    padding: 3px 10px 3px 30px;
    font-family: arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 5px 2px;
}
.rightclickmenu ul li:nth-child(odd) {
    background-color: #FFF;
}
.rightclickmenu ul li:nth-child(even) {
    background-color: #EEE;
}
.rightclickmenu ul li:hover {
    background-color: #BBB;
    background-position: 7px 2px;
    cursor: pointer;
}
.rightclickmenu .rc-delete {
    background-image: url(MMCCicon_delete_black.png);
}
.rightclickmenu .rc-remove {
    background-image: url(MMCCicon_remove_from_map_black.png);
}
.rightclickmenu .rc-hide {
    background-image: url(MMCCicon_hide.png);
}
.rightclickmenu .rc-center {
    background-image: url(MMCCicon_center.png);
}
.rightclickmenu .rc-popout {
    background-image: url(MMCCicon_pop-out_black.png);
}
.rightclickmenu .rc-permission {
    background-image: url(MMCCicon_edit_permission_black.png);
    position: relative;
}
.rightclickmenu .rc-permission ul {
    display: none;
    background: white;
    top: 0;
    left: 100%;
    position: absolute;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.rightclickmenu .rc-permission:hover ul {
    display: block;
}
.rightclickmenu .rc-permission .toCommons {
    background-image: url(MMCCicon_commons.png);
}
.rightclickmenu .rc-permission .toPublic {
    background-image: url(MMCCicon_public.png);
}
.rightclickmenu .rc-permission .toPrivate {
    background-image: url(MMCCicon_private.png);
}
.rightclickmenu p {
    padding: 7px;
}
/* end right click menu */

/* topic autocomplete */

#new_topic .tt-suggestion.tt-is-under-cursor,
#new_topic .tt-suggestion.tt-is-under-mouse-cursor {
    background: #0E161D;
}
#new_topic .tt-suggestion {
    padding: 5px;
    font-family: 'LatoLight';
    background: rgba(42, 52, 60, 0.9);
    ;
}
#new_topic .autocompleteSection {
    float: left;
}
#new_topic .topicTitle {
    width: 130px;
    line-height: 22px;
}
#new_topic .topicPermission {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
}
#new_topic .topicPermission.commons {
    background-image: url(MMCCicon_commons.png);
}
#new_topic .topicPermission.public {
    background-image: url(MMCCicon_public.png);
}
#new_topic .topicPermission.private {
    background-image: url(MMCCicon_private.png);
}
#new_topic .topicOriginatorIcon {
    position: relative;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    background-image: url(MMCCicon_mapper.png);
}
#new_topic .topicOriginatorIcon:hover .tip {
    display: block;
}
#new_topic .tip {
    display: none;
    position: absolute;
    background: white;
    width: auto;
    top: 0;
    left: 23px;
    color: black;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: 'LatoRegular';
    line-height: 15px;
    padding: 2px 5px 2px;
    z-index: 100;
}
/* synapse autocomplete */

#new_synapse .tt-dropdown-menu {
    width: 212px;
    background: #2A343C;
}
#new_synapse .tt-dropdown-menu h3 {
    font-family: 'vinyl', helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-size: 14pxpx;
    line-height: 16px;
    margin: 3px;
}
#new_synapse .tt-suggestion.tt-is-under-cursor,
#new_synapse .tt-suggestion.tt-is-under-mouse-cursor {
    background: #0E161D;
}
#new_synapse .tt-suggestion {
    padding: 5px;
    font-family: 'LatoLight';
}
#new_synapse .autocompleteSection {
    float: left;
}
#new_synapse .synapseDesc {
    width: 162px;
    line-height: 22px;
}
#new_synapse .synapsePermission {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
}
#new_synapse .synapsePermission.commons {
    background-image: url(MMCCicon_commons.png);
}
#new_synapse .synapsePermission.public {
    background-image: url(MMCCicon_public.png);
}
#new_synapse .synapsePermission.private {
    background-image: url(MMCCicon_private.png);
}
#new_synapse .synapseOriginatorIcon {
    position: relative;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    background-image: url(MMCCicon_mapper.png);
}
#new_synapse .synapseOriginatorIcon:hover .tip {
    display: block;
}
#new_synapse .tip {
    display: none;
    position: absolute;
    background: white;
    width: auto;
    top: 0;
    left: 23px;
    color: black;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: 'LatoRegular';
    line-height: 15px;
    padding: 2px 5px 2px;
    z-index: 100;
}
#new_synapse .tt-suggestion .resultnoresult .synapsePermission,
#new_synapse .tt-suggestion .resultnoresult .synapseOriginatorIcon {
    display: none;
}
/* map info box */

.wrapper div.mapInfoBox {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 3px;
    background: #0F1519;
    border-radius: 5px;
    width: 320px;
    height: auto;
    padding: 10px;
    font-family: 'LatoLight';
    font-size: 15px;
    line-height: 17px;
    font-style: normal;
    text-align: center;
}
.mapInfoName {
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: url(mapInfoLine.png) no-repeat bottom center;
}
.mapInfoName,
.mapInfoStat {
    font-size: 25px;
    line-height: 27px;
}
.wrapper div.mapInfoName span,
.wrapper div.mapInfoDesc span {
    float: none !important;
    padding-bottom: 10px;
}
div.mapInfoStat {
    padding-left: 29px;
}
.infoStatIcon {
    float: left;
    width: 25px;
    padding: 6px 0px 7px 45px;
    height: 27px;
    background-repeat: no-repeat;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
}
.mapContributors {
    background-image: url(MMCCicon_mapper.png);
    background-position: 16px 6px;
    background-size: 27px 27px;
    position: relative;
}
.infoStatIcon .tip {
    display: none;
    position: absolute;
    background: white;
    min-width: 180px;
    max-width: 250px;
    text-align: center;
    color: black;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: 'LatoRegular';
    line-height: 17px;
    padding: 3px 5px 2px;
    z-index: 100;
}
.mapContributors .tip {
    top: 38px;
    left: 6px;
}
.mapInfoBox .mapPermission .tip {
    top: 0;
    right: 32px;
}
.mapInfoBox .hoverForTip:hover .tip {
    display: block;
}
.mapTopics {
    background-image: url(MMCCicon_topic.png);
    background-position: 16px 6px;
    background-size: 27px 27px;
}
.mapSynapses {
    background-image: url(MMCCicon_synapse.png);
    background-position: 18px 6px;
    background-size: 27px 27px;
}
.mapInfoBox .mapPermission {
    background-position: 0 center;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 30px 5px 10px;
    position: relative;
}
.mapInfoBox .mapPermission.commons {
    background-image: url(MMCCicon_commons.png);
}
.mapInfoBox .mapPermission.public {
    background-image: url(MMCCicon_public.png);
}
.mapInfoBox .mapPermission.private {
    background-image: url(MMCCicon_private.png);
}
.yourMap .mapPermission:hover {
    background-image: url(/assets/MMCCicon_maximize_arrow.png);
    cursor: pointer;
}
.yourMap .mapPermission.minimize {
    background-image: url(MMCCicon_minimize_arrow.png) !important;
    cursor: pointer;
}
.mapInfoBox .mapPermission .permissionSelect {
    list-style: none;
    width: 30px;
    height: 60px;
    position: relative;
    top: 30px;
}
.mapInfoBox .mapPermission .permissionSelect li {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
}
.mapInfoBox .mapPermission .permissionSelect .commons {
    background-image: url(MMCCicon_commons.png);
}
.mapInfoBox .mapPermission .permissionSelect .public {
    background-image: url(MMCCicon_public.png);
}
.mapInfoBox .mapPermission .permissionSelect .private {
    background-image: url(MMCCicon_private.png);
}
.mapInfoBox .mapPermission .permissionSelect .commons:hover {
    background-image: url(MMCCicon_commons_black.png);
}
.mapInfoBox .mapPermission .permissionSelect .public:hover {
    background-image: url(MMCCicon_public_black.png);
}
.mapInfoBox .mapPermission .permissionSelect .private:hover {
    background-image: url(MMCCicon_private_black.png);
}
.mapInfoBox .mapInfoDesc {
    font-style: italic;
    color: #BBB;
    padding-bottom: 5px;
    margin: 5px 0 8px;
    background: url(mapInfoLine.png) no-repeat bottom center;
}
.mapInfoBox .mapInfoMeta p {
    margin: 4px 0;
    font-size: 14px;
    font-style: italic;
    color: #BBB;
}
/* lightboxes */

#lightbox_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000;
    display: none;
}
#lightbox_main {
    width: 550px;
    height: auto;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    top: 50%;
    background-color: transparent;
    color: black;
}
#lightbox_screen {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.0;
    filter: alpha(opacity=0);
    -moz-opacity: 0.0;
}
#lightbox_overlay #lightbox_main #lightbox_header {
    padding: 6px 5px 1px 0;
    background-color: #333;
    font-weight: bold;
    height: 18px;
    border: solid 2px #000;
}
#lightbox_overlay #lightbox_main a#lightbox_close {
    /*background-image: url(../images/barometer_close.png);*/
    cursor: pointer;
    height: 42px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    overflow: hidden;
    position: absolute;
    top: -23px;
    right: -22px;
    width: 42px;
    z-index: 4;
    border: none;
}
#lightbox_content {
    background: white url(metacode-watermark.png) 443px -30px no-repeat;
    padding: 20px;
    border-radius: 5px;
}
.lightboxContent h3 {
    font-style: italic;
    text-transform: uppercase;
    font-family: 'vinyl';
    font-size: 30px;
    line-height: 35px;
    color: black;
}
.lightboxContent h3.forCreateMap {
    text-align: center;
}
.lightboxContent {
    display: none;
}
.openLightbox {
    cursor: pointer;
}
/* jquery ui tabs */

.ui-tabs-hide {
    display: none !important;
}
.ui-tabs-vertical {
    width: 55em;
}
.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 100px;
    background: none;
    border: none;
    font-size: 15px;
    padding: 0 !important;
}
.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-top: none !important;
    border-left: none !important;
    border-bottom: none !important;
    background: none !important;
    margin: 0 0 .2em 0 !important;
    white-space: normal !important;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-state-active,
.ui-tabs-vertical .ui-tabs-nav li.ui-state-hover {
    border-right: 1px solid #000;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 92%;
    padding: 4% !important;
}
.ui-tabs-vertical .ui-tabs-panel {
    padding: 5px !important;
    float: right;
    width: 388px;
}
/* switch metacode set */

#metacodeSwitchTabs {
    width: 100%;
    font-family: LatoLight, Arial, Sans-Serif;
    font-size: 17px;
    line-height: 21px;
    border: none;
}
#metacodeSwitchTabs .setTitle {
    font-family: Lato, Arial, sans-serif;
}
#metacodeSwitchTabs .setDesc {
    margin-bottom: 5px;
}
.customMetacodeList,
.metacodeSetList {
    height: 301px;
    overflow: hidden;
    margin: 5px 0 15px 0;
    border-bottom: 1px solid #BBB;
}
.customMetacodeList ul li {
    cursor: pointer;
}
.customMetacodeList ul li,
.metacodeSetList ul li {
    list-style-type: none;
    display: block;
    padding: 0px;
    width: 92px;
    height: 70px;
    float: left;
    text-align: center;
}
.customMetacodeList li.toggledOff {
    opacity: 0.4;
}
.customMetacodeList ul img,
.metacodeSetList ul img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.customMetacodeList ul p,
.metacodeSetList ul p {
    display: block;
    margin: 0;
    background: none;
    font-size: 14px;
    line-height: 14px;
    font-family: Lato;
}
#metacodeSwitchTabs button.button {
    width: auto !important;
    padding: 0 10px;
    font-weight: normal;
}
/* about */

#about > p {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
}
#about ul {
    list-style: none;
}
#about ul li {
    display: inline-block;
    padding: 5px;
}
#about li a {
    color: #097A51;
}
/* invite */

#invite {
    color: black;
}
#invite p {
    margin: 10px 0;
    line-height: 24px;
}
#invite .green {
    text-align: center;
    display: block;
    color: #097A51;
}
/* new map */

.new_map {
    color: black;
}
.new_map .inputGroup {
    margin: 15px 0 5px;
}
.new_map label {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 15px;
}
.new_map input[type="text"] {
    width: 336px;
    height: 32px;
    font-size: 15px;
    direction: ltr;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font-family: arial;
}
.new_map input[type="text"]:hover,
.new_map textarea:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.new_map textarea {
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    resize: none;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font-family: arial;
    font-size: 15px;
    line-height: 17px;
    width: 318px;
}
.new_map .permIcon {
    float: left;
    width: 92px;
    height: 85px;
    position: relative;
}
.new_map .mapPermIcon {
    width: 60px;
    height: 60px;
    background-size: 48px 48px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    cursor: pointer;
}
.new_map .mapCommonsIcon {
    background-image: url(MMCCicon_commons.png);
}
.new_map .mapPublicIcon {
    background-image: url(MMCCicon_public.png);
}
.new_map .mapPrivateIcon {
    background-image: url(MMCCicon_private.png);
}
.new_map .mapCommonsIcon.selected,
.new_map .mapCommonsIcon:hover {
    background-image: url(MMCCicon_commons_black.png);
}
.new_map .mapPublicIcon.selected,
.new_map .mapPublicIcon:hover {
    background-image: url(MMCCicon_public_black.png);
}
.new_map .mapPrivateIcon.selected,
.new_map .mapPrivateIcon:hover {
    background-image: url(MMCCicon_private_black.png);
}
.new_map .permIcon h4 {
    font-style: italic;
    font-family: 'Vinyl';
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    color: black;
    text-align: center;
}
.new_map .tip {
    display: none;
    position: absolute;
    background: black;
    width: 150px;
    top: 85px;
    left: -29px;
    color: white;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: 'LatoRegular';
    line-height: 17px;
    padding: 3px 5px 2px;
    z-index: 100;
    text-align: center;
}
.new_map .hoverForTip:hover .tip {
    display: block;
}
.permText {
    width: 360px;
    margin: 0 auto;
    text-align: center;
}
.buttonWrapper {
    margin: 10px 0 0 131px;
    width: 254px;
}
.onConsole .new_map button.cancel {
    margin-right: 20px;
}
.onConsole .new_map button,
.onConsole .new_map input.add {
    float: left;
    margin-top: 5px;
    height: 40px;
    font-family: 'LatoItalic';
    font-size: 17px;
    width: auto;
    padding: 0 30px;
    cursor: pointer;
    font-weight: normal;
}
.onConsole .new_map button:hover,
.onConsole .new_map input.add:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Cheatsheet */

#cheatSheet {
    width: 100%;
    height: 350px;
    font-family: LatoLight, Arial, Sans-Serif;
    font-size: 17px;
    line-height: 21px;
    border: none;
}
#cheatSheet .sectionTitle {
    font-family: Lato, Arial, sans-serif;
    font-weight: bold;
}
#cheatSheet .csItem {
    margin: 5px 0;
    font-size: 15px;
    line-height: 18px;
}
#cheatSheet .csItem img {
    display: inline-block;
    margin: 0 2px;
}
#cheatSheet .csTitle {
    font-family: Lato, Arial, sans-serif;
}
#cheatSheet .indented {
    margin-left: 15px;
}
/* Admin Pages */

#wrapper > div.blackBox {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.blackBox .metacodeSetsDescription {
    width: 314px;
}
.blackBox td.metacodeSetDesc {
    width: 314px;
    word-wrap: break-word;
}
.blackBox .metacodeSetImage {
    width: 36px;
    height: 36px;
    float: left;
}
.blackBox tr {
    display: table-row;
}
.blackBox tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.2);
}
.blackBox tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
}
.blackBox th,
.blackBox td {
    padding: 10px;
}
.blackBox td.iconURL {
    max-width: 415px;
    word-wrap: break-word;
}
.blackBox .field {
    margin: 15px 0 5px;
}
.blackBox label {
    float: left;
    width: 100px;
    margin-right: 15px;
}
.blackBox input[type="text"] {
    width: 336px;
    height: 32px;
    font-size: 15px;
    direction: ltr;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    margin: 0;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font-family: arial;
}
.blackBox input[type="text"]:hover,
.blackBox textarea:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.blackBox textarea {
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    resize: none;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    font-family: arial;
    font-size: 15px;
    line-height: 17px;
    width: 318px;
}
.blackBox .allMetacodes {
    padding: 5px 0;
}
.blackBox a.button {
    margin-right: 20px;
    line-height: 40px;
}
.blackBox a.button,
.blackBox input.add {
    float: left;
    margin-top: 5px;
    height: 40px;
    font-family: 'LatoItalic';
    font-size: 17px;
    width: auto;
    padding: 0 30px;
    cursor: pointer;
    font-weight: normal;
}
.blackBox a.button:hover,
.blackBox input.add:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* FAQ */

#wrapper > div.FAQ {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 20px 20px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.FAQ .question {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 45px 10px 10px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 20px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
}
.FAQ .answer {
    padding: 0 30px;
    margin-bottom: 20px;
    line-height: 24px;
    margin-right: 20px;
}
.FAQ .answer.off {
    display: none;
}
.FAQ .switch {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/assets/MMCCicon_maximize_arrow.png');
    background-size: 25px 25px;
    cursor: pointer;
}
.FAQ .minimizeAnswer {
    background-image: url('/assets/MMCCicon_minimize_arrow.png') !important;
}
/* request */

#wrapper .requestInvite {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    height: 100%;
    overflow: hidden;
}
.addMap {
    display: block;
    width: 45px;
    height: 32px;
    background: #4fb5c0 url('MMCCicon_add_map.png') no-repeat center center;
    background-size: 32px 32px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 10px;
}
/* --- styling the logo button ---*/

.footer {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -55px;
    z-index: 15000;
}
.home_bg {
    display: block;
    height: 100%;
}
/* home page */

div#preloaded-images {
    position: absolute;
    overflow: hidden;
    left: -9999px;
    top: -9999px;
}
.home_content {
    width: 830px;
    margin: 0 auto;
}
span.blue {
    color: #36bbe8;
}
.home_desc {
    font-family: 'LatoLight';
    font-size: 32px;
    margin: 40px 20px 25px;
    text-align: center;
}
.home_desc .welcomeTo {
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Vinyl';
    font-style: italic;
}
.home_content .request {
    margin-right: 17px !important;
}
.home_content .request,
.home_content .learnmore {
    margin: 5px auto;
    background: white;
    height: 40px;
    font-family: 'Vinyl';
    font-size: 18px;
    font-style: italic;
    width: 135px;
    padding: 0 15px;
    cursor: pointer;
    color: black;
    line-height: 44px;
    font-weight: normal;
    text-transform: uppercase;
}
.home_content .request:hover,
.home_content .learnmore:hover {
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.metamapsIs {} .metamapsIs .swapWord {
    display: block;
}
#homeMapImage {
    margin: 5px auto;
}
.featuredMaps {
    margin: 15px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
#homeMap {
    width: 738px;
    margin: 0 auto;
    height: 340px;
    position: relative;
    overflow: hidden;
}
#homeFigure {
    height: 335px;
    width: 738px;
    margin: 0;
}
#homeFigure figure {
    float: left;
    margin: 10px !important;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#homeMap .links {
    font-size: 14px;
    font-family: Lato;
    flex: none;
}
#homeMap .title {
    margin: 10px;
    flex: none;
}
#homeMap .linkItem.contributor {
    background-position: 5px center;
    background-size: 20px 20px;
    position: relative;
    padding-left: 28px;
    line-height: 40px;
    margin-left: 0px;
    padding-right: 2px;
}
#homeMap .mapPerm {
    height: 40px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px;
    position: relative;
    padding-left: 28px;
    line-height: 40px;
}
#homeMap .mapPerm.co {
    background-image: url(MMCCicon_commons.png);
}
#homeMap .mapPerm.pu {
    background-image: url(MMCCicon_public.png);
}
#homeMap .mapPerm.pr {
    background-image: url(MMCCicon_private.png);
}
#homeMap .desc {
    color: #555555;
    padding: 15px 5px 0 15px;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mapContains {
    max-height: 40px;
    line-height: 40px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #AAAAAA;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.mapContains span {
    display: inline-block;
    text-align: left;
    padding-left: 27px;
}
.mapContains .topicCount {
    background-image: url(MMCCicon_topic.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
    line-height: 40px;
    width: 72px;
}
.mapContains .synapseCount {
    background-image: url(MMCCicon_synapse_black.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
    line-height: 40px;
    width: 95px;
}
#homeFigure figure .littleOverlay {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, 0);
    transition: .6s;
    border-radius: 5px;
}
#homeFigure figure:hover .littleOverlay {
    /*top: 0; 
  background: rgba(255,255,255, 0.9); 
  bottom: 0; */
}
#homeMap .map,
#homeMap .mapCard {
    height: 315px;
}
.socialIcons {
    position: fixed;
    bottom: 0px;
    height: 37px;
    right: 0px;
}
.socialIcons a {
    float: left;
    height: 30px;
    width: 30px;
    margin: 0 7px 7px 0px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.socialIcons .twitter {
    background-image: url('MMSocial-51.png');
}
.socialIcons .google {
    background-image: url('MMSocial-52.png');
}
.socialIcons .wordpress {
    background-image: url('MMSocial-53.png');
}
.contact {
    text-align: center;
    margin: 1em 0 1em 0;
}
.contact a {
    color: #36bbe8;
}
#edit_synapse label,
#edit_synapse_left,
#edit_synapse_right {
    display: inline-block;
}
#edit_synapse label.left {
    margin-right: 0.5em;
}
.templates {
    display: none;
}
