#center-container {
    position:relative;
	height:100%;
	width:100%;
    /* background-color:#031924; */
    color:#444;
}

.showcard, #showcard {
    position:absolute;
    display:block;
    top:-1000px;
    left:-1000px;
    margin-top: -181px;
    width:226px;
	  height:320px;
    color:#FFF;
    text-align: left;
    overflow: visible;
	  z-index:14000;
    background: #FFF;
    border-radius:5px;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.4);
}

#showcard .contributor {
  font-size:14px;
}

.text {
  margin: 7px;
}

#infovis {
  position:relative;
  width:100%;
  height:100%;
  margin:0;
  overflow:hidden;
}

.showcard .permission {
  width:100%;
  height:100%;
}

.CardOnGraph {
  display:block;
  position:relative;
  width:100%;
  height:100%;
  color:#000;
  z-index: 25;
}

.CardOnGraph .scroll {
   display:block;
   padding:5px 10px;
}
 
.CardOnGraph .type {
  position: absolute;
  color: white;
  top: -22px;
  right: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.CardOnGraph .title {
  font-size:22px;
  line-height:25px;
  display:block;
  padding:5px;
  font-weight: bold;
  text-align: center;
}

.best_in_place_name {
  
}

.best_in_place_name input{
height: 15px;
padding: 5px 0;
width: 100%;
margin: 0;
border: 0;
outline: none;
font-size: 22px;
font-weight:bold;
line-height: 25px;
background: white;
color: black;
text-align:center;
font-family: 'LatoLight';
}

.desc {
  font-size:15px;
  line-height:19px;
}
.best_in_place_desc textarea {
padding: 0;
width: 100%;
margin: 0;
border: 0;
outline: none;
font-size: 15px;
line-height: 19px;
background: white;
color: black;
font-family: 'LatoLight';
}

.desc h3 {
  font-style:normal;
  margin-top:5px;
}

.best_in_place_desc input {
  float: right;
  margin: 2px 0px 0px 2px;
  padding: 1px 5px;	
}

.best_in_place_desc {
  display:block;
  margin-top:2px;	
}

#edit_synapse .best_in_place_desc {
  width: auto;
}

.CardOnGraph .links {
  position:relative;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
}

.linkItem {
  float:left;
  min-width:40px;
  height:40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 27px 27px;
  z-index: 2;
position: relative;
}

.CardOnGraph .icon {
  position:absolute;
  width:100%;
  z-index:1;
}
.linkItem.contributor {
  background-image: url(MMCCicon_mapper_black.png);
  margin-left:20px;
}
.linkItem.mapCount {
  background-image: url(MMCCicon_map_black.png);
  background-size: 22px 22px;
background-position: 0px center;
line-height: 40px;
min-width: 16px;
padding-left: 24px;
}
.linkItem.synapseCount {
  background-image: url(MMCCicon_synapse_black.png);
  background-size: 22px 22px;
background-position: 0px center;
line-height: 40px;
min-width: 16px;
padding-left: 24px;
}
.linkItem.mapPerm {

}
.linkItem.mapPerm.co {
  background-image: url(MMCCicon_commons.png);
}
.linkItem.mapPerm.pu {
  background-image: url(MMCCicon_public.png);
}
.linkItem.mapPerm.pr {
  background-image: url(MMCCicon_private.png);
}
.linkItem.topicPopout {
  background-image: url(MMCCicon_pop-out_black.png);
}

.CardOnGraph .metacodeTitle {
  font-style: italic;
  font-family: 'vinyl';
  text-transform: uppercase;
  position: absolute;
  line-height: 36px;
  font-size: 20px;
  display: none;
  width: 90%;
  padding-left: 10%;
  padding-top: 4px;
  background-color: #64BC61;
}
.permission.canEdit .metacodeTitle {
  cursor:pointer;
  background-image: url(MMCCicon_maximize_arrow_black.png);
  background-repeat:no-repeat;
  background-position: right center;
}
.permission.canEdit .metacodeTitle.minimize {
  background-image: url(MMCCicon_minimize_arrow_black.png);
}

.CardOnGraph .metacodeImage {
  cursor:move;
  width:50px;
  height:50px;
  position:absolute;
  left:-25px;
  top:-5px;
  background-size:50px 50px;
  background-position:0 0;
  background-repeat:no-repeat;
}

#metacodeOptions {
  display:none;
}
.CardOnGraph .metacodeSelect {
  display:none;
  width:100%;
  z-index: 2;
  position: absolute;
  background: #EAEAEA;
  height: 150px;
}
.CardOnGraph .metacodeSelect ul {
font-style: italic;
font-family: 'vinyl';
text-transform: uppercase;
position: absolute;
line-height: 36px;
font-size: 20px;
display:block;
width: 100%;
margin:0;
padding: 0;
list-style:none;
height:150px;
overflow:hidden;
}
.CardOnGraph .metacodeSelect ul li {
background-color: #EAEAEA;
width:100%;
border-bottom:1px solid #AAAAAA;
cursor:pointer;
}
.CardOnGraph .metacodeSelect ul li:hover {
background-color: #F8F8F8;
}
.CardOnGraph .metacodeSelect ul li img, .CardOnGraph .metacodeSelect ul li .mSelectName {
float:left;
}




.CardOnGraph .link {
  position:absolute;
  bottom:5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid #AAAAAA;
  padding-top:8px;
  width:100%;
  height:25px;
  background: url(MMCCicon_link.png) no-repeat 6px 6px;
  background-size:24px 24px;
}

.CardOnGraph .best_in_place_link { 
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
  padding-left: 40px; 
  padding-top:2px;
  font-size: 16px;
  line-height: 16px;
}

.best_in_place_link input{
height: 16px;
margin: -1px 0 0 0;
border: 0;
outline: none;
font-size: 16px;
line-height: 16px;
line-height: 16px;
background: white;
color: black;
font-family: 'LatoLight';
}

.CardOnGraph .go-link {
  position: absolute;
  width: 34px;
  height: 36px;
  background: url(MMCCicon_go.png) no-repeat center center;
  background-size: 20px 20px;
  top: 0;
  right: 12px;
}

.cardSettings {
  position: absolute;
  left: 12px;
  top: 12px;
}

.editSettings {
  background: #ddd;
  border-radius: 10px;
  padding: 5px 0 5px 5px;
  position: relative;
  left: 16px;
  width: 175px;
  opacity: 0.98;
  box-shadow: 4px 4px 5px #888888;
  border: 1px solid #AAA;
  z-index: 5;
}

.editSettings span {
  display: inline-block;
}

.permActivator {
  width: 16px;
  height: 16px;
  background: url('settings.png') no-repeat 0 0;
  overflow:hidden;
  position: absolute;
  left: 0px;
  top: 30px;
}

#edit_synapse .mapPerm,
#edit_synapse .permActivator {
  position: static;
  display: inline-block;
  color: #000;
  margin: 2px;
}

#edit_synapse .mapPerm {
  margin-left: 1em;
}

#edit_synapse .permActivator {
  position: absolute;
  margin-top: -1.3em;
}

#edit_synapse {
  background: white;
  border-radius: 5px;
  padding: 5px;
  color: #000;
}

#edit_synapse_name {
  margin-left: 0.4em;
}

#edit_synapse .click-to-edit {
  margin-left: 0.3em;
}



/* Map Cards */

.map {
    float:left;
    display:block;
    width:226px;
	  height:320px;
    color:#FFF;
    text-align: left;
    overflow: visible;
    background: #FFF;
    border-radius:5px;
    box-shadow: 6px 6px 8px rgba(0,0,0,0.4);
    margin:16px 16px 16px 19px;
}

.mapCard {
  display:block;
  position:relative;
  width:100%;
  height:100%;
  color:#000;
  z-index: 25;
}

.mapCard .metacodeImage {
width: 50px;
height: 50px;
position: absolute;
left: -25px;
top: -5px;
background-size: 50px 50px;
background-position: 0 0;
background-repeat: no-repeat;
}

.mapCard .scroll {
   display:block;
   padding:5px 10px;
}
 
.mapCard .type {
  position: absolute;
  color: white;
  top: -22px;
  right: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.mapCard .title {
  font-size:22px;
  line-height:25px;
  display:block;
  padding:5px;
  font-weight: bold;
  text-align: center;
}

.mapCard .links {
  position:relative;
  border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
}

.mapCard .icon {
  position:absolute;
  width:100%;
  z-index:1;
}
.linkItem.topicCount {
  background-image: url(MMCCicon_topic.png);
  background-size: 22px 22px;
background-position: 0px center;
line-height: 40px;
min-width: 16px;
padding-left: 24px;
}