#center-container {
    position:relative;
	height:100%;
	width:100%;
    /* background-color:#031924; */
    color:#444;
}

.showcard, #showcard {
    width:216px;
	height:320px;
    color:#FFF;
    text-align: left;
    overflow: visible;
	z-index:14000;
}

#showcard .contributor {
  font-size:14px;
}

.text {
  margin: 7px;
}

#infovis {
  position:relative;
  width:100%;
  height:100%;
  margin:0;
  overflow:hidden;
}

.CardOnGraph {
  display:block;
  position:relative;
  width:175px;
  height:300px;
  padding:10px 5px 10px 35px;
  background: url('bg.png');
  border-radius:15px;
  color:#000;
  z-index: 25;
}

.CardOnGraph .scroll {
   display:block;
   height:230px;
}
 
.CardOnGraph .type {
  position: absolute;
  color: white;
  top: -22px;
  right: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.CardOnGraph .icon {
  position:absolute;
  top:135px;
  left:-25px;
}

.CardOnGraph .title {
  font-size:22px;
  line-height:25px;
  display:block;
  border-bottom:2px solid #000;
  padding-bottom:5px;
}

.CardOnGraph .best_in_place_name {
  max-width:130px;
  float:left;
}

.CardOnGraph .best_in_place_name input{
  max-width:130px;
}

.CardOnGraph .desc {
  font-size:15px;
  font-family:Arial, Helvetica, sans-serif;
}

.CardOnGraph .desc h3 {
  font-style:normal;
  margin-top:5px;
}

.CardOnGraph .best_in_place_desc input {
  float: right;
  margin: 2px 0px 0px 2px;
  padding: 1px 5px;	
}

.CardOnGraph .best_in_place_desc {
  width:155px;
  display:block;
  margin-top:2px;	
}

.CardOnGraph .best_in_place_desc input[value="Save"] {
margin-right: -8px;
}

.CardOnGraph .link {
  position:absolute;
  width:170px;
  top:293px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardOnGraph .best_in_place_link { 
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  float: left;
  padding-left: 5px; 
  padding-top:2px;
}

.CardOnGraph .best_in_place_link input {
  width:130px;
  margin-top:-2px;	
}

.CardOnGraph .go-link {
  float:left;	
}

.cardSettings {
  position: absolute;
  left: 12px;
  top: 13px;
}

.editSettings {
  background: #ddd;
  border-radius: 10px;
  padding: 5px 0 5px 5px;
  position: relative;
  left: 16px;
  width: 172px;
  opacity: 0.98;
  box-shadow: 4px 4px 5px #888888;
  border: 1px solid #AAA;
}

.editSettings span {
  float:left;
}

.permActivator {
  width: 16px;
  height: 16px;
  background: url('settings.png') no-repeat 0 0;
  overflow:hidden;
}

.mapPerm {
  background: #fff;
  padding: 0 4px 4px 4px;
  border-radius: 15px;
  border: 1px solid #AAA;
  position: absolute;
  left: -7px;
  top: 18px;
  width:16px;
  text-align:center;
}
