#inner-details {

}

.label { display:block; padding: 2px 4px; background:#ddd; opacity:0.8; border-radius:5px; }

span.name {
  cursor: pointer;
}

/*TOOLTIPS*/
.tip {
   text-align: left;
   width:auto;
   max-width:500px;
}

.tip-title {
  font-size: 11px;
  text-align:center;
  margin-bottom:2px;
}
