// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// explore maps page


.mapOrder {
  display: block;
  padding:5px 15px;
  margin:5px auto 0;
  font-weight: bold;
  line-height: 24px;
  position: relative;
  width:770px;
  height:25px;
}

.mapOrder .displaying, .mapOrder .whichMaps {
  float:left;
}

.whichMaps a {
  color: white;
  text-decoration: underline;
  padding: 0 10px;
  cursor:default;
  font-weight:normal;
}
.whichMaps a.active {
  text-decoration: none;
  font-weight:bold;
}
.whichMaps a:hover {
  text-decoration: none;
}



