.mbgAction {
    background-color: #bd6c85 !important;
}
.mbgActivity {
    background-color: #6ebf65 !important;    
}
.mbgArgument {
    background-color: #7FAEFD !important;    
}
.mbgBizarre {
    background-color: #bdb25e !important;    
}
.mbgCatalyst {
    background-color: #EF8964 !important;    
}
.mbgClosed {
    background-color: #ABB49F !important;    
}
.mbgCon {
    background-color: #CF7C74 !important;    
}
.mbgDecision {
    background-color: #cca866 !important;    
}
.mbgExample {
    background-color: #598559 !important;    
}
.mbgExperience {
    background-color: #BE995F !important;    
}
.mbgForesight {
    background-color: #b0b0b0 !important;    
}
.mbgFutureDev {
    background-color: #25A17F !important;    
}
.mbgGoodPractice {
    background-color: #BD9E86 !important;    
}
.mbgGroup {
    background-color: #7076BC !important;    
}
.mbgIdea {
    background-color: #c4bc5e !important;    
}
.mbgImplication {
    background-color: #83DECA !important;    
}
.mbgInsight {
    background-color: #B074AD !important;    
}
.mbgIntention {
    background-color: #baeaff !important;    
}
.mbgKnowledge {
    background-color: #60acf7 !important;    
}
.mbgList {
    background-color: #B7A499 !important;    
}
.mbgLocation {
    background-color: #abd9a7 !important;    
}
.mbgMovieMap {
    background-color: #a5a0de !important;    
}
.mbgNote {
    background-color: #a389a1 !important;    
}
.mbgOpenIssue {
    background-color: #9bbf71 !important;    
}
.mbgOpinion {
    background-color: #54a19d !important;    
}
.mbgOpportunity {
    background-color: #889F64 !important;    
}
.mbgPerson {
    background-color: #de925f !important;    
}
.mbgPlatform {
    background-color: #21C8FE !important;    
}
.mbgPro {
    background-color: #89b879 !important;    
}
.mbgProblem {
    background-color: #99cfc4 !important;    
}
.mbgQuestion {
    background-color: #709899 !important;    
}
.mbgReference {
    background-color: #A7A7A7 !important;    
}
.mbgRequirement {
    background-color: #d2a7d4 !important;    
}
.mbgResearch {
    background-color: #CD8E89 !important;    
}
.mbgResource {
    background-color: #c98c63 !important;    
}
.mbgRole {
    background-color: #a8595d !important;    
}
.mbgTask {
    background-color: #2f89ba !important;    
}
.mbgTool {
    background-color: #828282 !important;    
}
.mbgTrajectory {
    background-color: #b3953d !important;    
}
.mbgWildcard {
    background-color: #73c7de !important;    
}