// Place all the styles related to the synapses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.synapse {
  display:block;
  position:relative;
  width:215px;
  height:320px;
  float:left;
  margin: 30px 0 30px 50px;
}

.synapseTopic1 {
  position:absolute;
  top:0;
}

.topic1desc {
display: block;
width: 190px;
background: url("bg.png") repeat;
position: relative;
margin-left: 25px;
border-radius: 15px;
padding: 10px 5px 10px 28px;
color: #000;
}

.synapseTopic1 img {
  position:absolute;
  top: 15px;
  z-index: 30;
}

.synapseTopic2 {
  position:absolute;
  bottom:0;
}

.synapseTopic2 img {
  position:absolute;
  top:-24px;
  z-index:30;
}

.topic2desc {
display: block;
width: 190px;
background: url("bg.png") repeat;
position: relative;
margin-left: 25px;
border-radius: 15px;
padding: 10px 5px 10px 28px;
color: #000;
}