// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nodeOptions {
  display:none;
  position: absolute;
  top: -5px;
  right: -17px;
}

.onCanvas .removeFromMap {
  display:none !important;
}

.unauthenticated .deleteTopic {
  display:none !important;
}

.removeFromCanvas {
  display: block;
  width: 17px;
  height: 16px;
  background: url('removeFromCanvas.png') no-repeat 2px 0;
}

.removeFromMap {
  display: block;
  width: 17px;
  height: 16px;
  background: url('removeFromMap.png') no-repeat 2px 0;
}

.centerOn {
  display: block;
  width: 17px;
  height: 23px;
  background: url("centerOn.png") no-repeat 2px 3px;
  margin-top: 4px;
}

.deleteTopic {
  display: block;
  width: 17px;
  height: 16px;
  background: url('delete.png') no-repeat 2px 0;
}

.topic { 
  float:left; 
  margin:30px 0 30px 50px;
}

.topic .delete {
position: absolute;
top: -14px;
left: 0px;
background: none;
border: 0;
color: white;
border: none;
font-size: 14px;
margin: 0;
padding: 0;
cursor:pointer;
}

.topic .scroll { 
  display:block; 
}

.topic .type {position: absolute;
color: white;
top: -22px;
right: 0;
font-weight: bold;
font-size: 20px;
line-height: 24px;}

.topic .icon { position:absolute; top:135px; left:-25px; }

.topic .title { font-size:22px; line-height:27px; display:block; border-bottom:2px solid #000; padding-bottom:5px; }

.topic .desc { font-size:15px; font-family:Arial, Helvetica, sans-serif; }
.topic .desc h3 { font-style:normal; margin-top:5px; }

.topic-go-arrow {
  width: 25px;
  height: 25px;
  padding-bottom: 2px;
  float: right;
}

.gray {
  color: #999999;
}
