<%#
  # @file
  # The inner HTML of the cheatsheet
  #%>

<h3>Quick Reference Guide</h3>
        
<div class="cheatsheetColumn cOne">
  <h4>Topics</h4>
    <div class="csItem"><span class="csTitle">Add New Topic:</span> Double-click on canvas</div>
    <div class="csItem"><span class="csTitle">Select Metacode:</span> Scroll on spinner, or Tab / Shift+Tab</div>
    <div class="csItem"><span class="csTitle">Creating New Topic:</span> Hit Enter after typing topic name</div>
    <div class="csItem"><span class="csTitle">Get Existing Topic:</span> Click on (or use Up/Down->Enter) to pick from auto-suggestions</div>
    <div class="csItem"><span class="csTitle">Open Topic Card:</span> Double-click on topic icon</div>
    <div class="csItem"><span class="csTitle">Edit Topic Type:</span> Click on metacode in open topic card</div>
    <div class="csItem"><span class="csTitle">Open Topic View:</span> Click on 'leave page' icon in topic card (opens in new tab)</div>
  <h4>Navigation</h4>
    <div class="csItem"><span class="csTitle">Move (Pan) Across Canvas:</span> Click on canvas and drag</div>
    <div class="csItem"><span class="csTitle">Zoom In/Out</span> Scroll mouse on canvas</div>
    <div class="csItem"><span class="csTitle">Back to Center:</span> Refresh page</div>
</div>


<div class="cheatsheetColumn cTwo">
  <h4>Synapses</h4>
    <div class="csItem"><span class="csTitle">Create Synapse:</span> Right-click/Alt+Click on topic and drag to other topic, enter synapse name or choose suggested</div>
    <div class="csItem"><span class="csTitle">Create Topic with Synapse:</span> Right-click/Alt+Click on topic and drag to empty part of canvas</div>
    <div class="csItem"><span class="csTitle">View Synapse Description:</span> Hover over synapse</div>
    <div class="csItem"><span class="csTitle">Open Synapse Card:</span> Double-click synapse</div>
    <div class="csItem"><span class="csTitle">Edit Synapse Description:</span> Click synapse description in synapse card</div>
    <div class="csItem"><span class="csTitle">Change Synapse Direction:</span> Check/Uncheck directional arrow boxes</div>
  <h4>Selection</h4>
    <div class="csItem"><span class="csTitle">Select Topic or Synapse:</span> Click on one</div>
    <div class="csItem"><span class="csTitle">Select Multiple:</span> Shift+Click on canvas and drag around topics, or use Shift+Click to add/remove individually</div>
    <div class="csItem"><span class="csTitle">Move Multiple:</span> Select desired, Click and drag on a selected topic</div>
    <div class="csItem"><span class="csTitle">Hide/Remove/Delete:</span> Right-click/Alt+Click on selection</div>
    <div class="csItem"><span class="csTitle">Deselect All:</span> Hit Esc, or click any topic</div>
</div>

<div class="clearfloat"></div>