<!--<div class="exploreMapsBar exploreElement animations">
    <div class="exploreMapsMenu">
      <div class="exploreMapsCenter">
          <% if authenticated? %>
            <a href="/" class="active">My Maps</a>
          <% end %>
          <a href="/explore/active">Recently Active</a>
          <a href="/explore/featured">Featured</a>
          <a href="/explore/new">New</a>
          <div class="clearfloat"></div>
      </div> <!-- end exploreMapsCenter 
    </div> <!-- end exploreMapsMenu 
</div> <!-- end exploreMapsBar -->

<div class="mapsWrapper exploreElement">
      <% if @maps %>
        <% @maps.each do |map| %>
          <%= render map %>
        <% end %>
      <% end %> 
      <div class="clearfloat"></div>
</div>