<%#
  # @file
  # The inner HTML of the account box that comes up in the bottom left
  #%>


<div id="lightbox_overlay">
  <div id="lightbox_main">
    <a id="lightbox_close" onclick="document.getElementById('lightbox_overlay').style.display = 'none';return false" href="#"></a>
    <div id="lightbox_content">
      
      <div class="lightboxContent" id="about">
        <h3>About Metamaps.cc</h3>
        
        <p>
         (not going to be this text) 
          METAMAPS IS A PLATFORM FOR VISIONING, MAGIC MAKING, PRODUCTIVE CONVERSATION, UNDERSTANDING SOMETHING, INNOVATION, FREE STYLE WEAVING AND ALL NIGHT BRAINSTORMING.
        </p>
        
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="http://blog.metamaps.cc" target="_blank">blog</a></li>
          <li><a href="https://plus.google.com/u/0/communities/115060009262157699234" target="_blank">community</a></li>
          <li><a href="https://twitter.com/metamapps" target="_blank">@metamapps</a></li>
          <li><a href="https://github.com/Connoropolous/metamaps_gen002" target="_blank">source code</a></li>
          <li><a href="http://metamaps.cc/maps/331" target="_blank">terms</a></li>
        </ul>
        <div class="clearfloat"></div>
      </div>
      
      <div class="lightboxContent" id="tutorial">
        <h3>Tutorial</h3>
        <iframe width="510" height="383" src="//www.youtube.com/embed/0Bd8XxlNG3U?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      
      <div class="lightboxContent" id="cheatsheet">
        <h3>Quick Reference Guide</h3>
        
        <div class="cheatsheetBox">
        
        </div>
        <div class="cheatsheetBox">
        
        </div>
        <div class="cheatsheetBox">
        
        </div>
        <div class="cheatsheetBox">
        
        </div>
        <div class="cheatsheetBox">
        
        </div>
        <div class="cheatsheetBox">
        
        </div>
      </div>
      
    </div>
  </div>
  <div id="lightbox_screen" onclick="document.getElementById('lightbox_overlay').style.display = 'none';return false" style="height: 100%;"></div>
</div>

