<%#
  # @file
  # The inner HTML of the account box that comes up in the bottom left
  #%>
  <div id="lightbox_overlay">
  <div id="lightbox_main">
    <a id="lightbox_close" href="#"></a>
    <div id="lightbox_content">
      
      <div class="lightboxContent" id="about">
        <h3>About Metamaps.cc</h3>
            <div id="aboutParms">
            <div id="leftAboutParms">
                <p>STATUS: </p>
                <p>VERSION:</p>
                <p>LAST UPDATE:</p>
            </div> 
                
            <div id="rightAboutParms">
                <p>PRIVATE BETA</p>
                <p>2.6 (Catalpa)</p>
                <p>Oct 23, 2014</p>
            </div>  
            <div class="clearfloat">  
            </div>  
            </div>  

                
        <p>Metamaps.thevalueweb.org is a partnership between The Value Web and Treeship LLC, a venture of the Metamaps Open Value Network. It consists of a customized installation of the publicly available platform that resides at Metamaps.cc, that acts as a graph-based knowledge management tool for sharing, learning, and live facilitation applications internally within The Value Web.</p>

<p>The Value Web is an international non-profit association, based in Switzerland, focused on multi-sector/multi-stakeholder collaboration in transformational projects for a more sustainable, equitable world. We design and deliver collaborative engagements to support like-minded leaders and their organizations around the world.</p>

<p>Metamaps.cc is a free and open source web platform that enables individuals and communities to build and visualize their shared knowledge and unlock their collective intelligence. It is a tool to help connect people, resources and ideas with rich detail and weave those relationships into actionable insights and stories.</p>

<p>Publicly launched in 2012, Metamaps.cc continues to be a constantly developing work in progress. The platform is evolving for a range of applications amidst a growing network of designers, developers, practitioners, entrepreneurs, and artists.</p>

<p>For general inquiries, send us an email at team@metamaps.cc.</p>
        
        <ul class="lightbox_links">
          <li>
            <a id="lightbox_metamapss" href="https://twitter.com/metamapps" target="_blank">
              <div class="lightboxAboutIcon"></div>
              @metamapps
            </a>
          </li>
          <li>
            <a id="lightbox_community" href="https://plus.google.com/u/0/communities/115060009262157699234" target="_blank">
              <div class="lightboxAboutIcon"></div>
              community
            </a>
          </li>
          <li>
            <a id="lightbox_blog" href="http://blog.metamaps.cc" target="_blank">
              <div class="lightboxAboutIcon"></div>
              blog
            </a>
          </li>
          <li>
            <a id="lightbox_source" href="https://github.com/Connoropolous/metamaps_gen002" target="_blank">
              <div class="lightboxAboutIcon"></div>
              source code
            </a>
          </li>
          <li>
            <a id="lightbox_term" href="http://metamaps.cc/maps/331" target="_blank">
              <div class="lightboxAboutIcon"></div>
              terms
            </a>
          </li>
        </ul>
        <div class="clearfloat"></div>
      </div>

      <div class="lightboxContent" id="colophon">
        <h3 id="colophoneHeader">Colophon</h3>
                
        <p>Metamaps.thevalueweb.org is a partnership between The Value Web and Treeship, Inc, a venture of the Metamaps Open Value Network. It consists of a customized installation of the publicly available platform that resides at Metamaps.cc, for use internally within The Value Web for increased collective intelligence within the network.</p>

        <h4 id="colophonSection">PROJECT LEADS</h4>
        <p>Benjamin Brownell (Metamaps), Ishan Shapiro (Metamaps, Treeship), Sita Magnusson (The Value Web) </p>

        <h4 id="colophonSection">ICONOGRAPHY</h4>

        <p>Iconography within Metamaps is a distinctive and subtle art. We thank the following creators of icons used throughout Metamaps for the courtesy of sharing their work under Creative Commons licenses:<p>

        <h4 id="colophonSectionIndented">System Icons</h4>
        <p id="colophonLinks"><a href="http://thenounproject.com/r0">Ryan Oksenhorn</a>, <a href="http://thenounproject.com/leonides.dm">Leonides Delgado</a>, <a href="http://thenounproject.com/matheusanturio">Matheus Antúrio</a>, <a href="http://thenounproject.com/nl_menghini">Nicholas Menghini</a>, <a href="http://thenounproject.com/useiconic.com">useiconic.com</a>, <a href="http://thenounproject.com/Icomatic">Icomatic</a>, <a href="http://thenounproject.com/ansteydesign">AnsteyDesign</a>, <a href="http://thenounproject.com/somerandomdude">P.J. Onori</a>, <a href="http://thenounproject.com/Michzen">Michael Zenaty</a>, <a href="http://thenounproject.com/edward">Edward Boatman</a>, <a href="http://thenounproject.com/garrett.knoll">Garrett Knoll</a>, <a href="http://thenounproject.com/misirlou">misirlou</a>, <a href="http://thenounproject.com/DmitryBaranovskiy">Dmitry Baranovskiy</a>, <a href="http://thenounproject.com/waymanate">Nathan Thomson</a>, <a href="http://thenounproject.com/razerk">Alex Auda Samora</a>, <a href="http://thenounproject.com/bernar.novalyi">Bernar Novalyi</a>, <a href="http://thenounproject.com/jeremy.j.bristol">Jeremy J Bristol</a>, <a href="http://thenounproject.com/FivebyFive/">FivebyFive</a>, <a href="http://thenounproject.com/thibault.geffroy">Thibault Geffroy</a>, <a href="http://cargocollective.com/gavinkeech">Gavin Keech</a></p>

        <h4 id="colophonSectionIndented">Metacodes</h4>
        
        <p>Metacodes are visual categories for knowledge that are used within Metamaps for organizing knowledge. Metacodes within this installation have been custom designed for the specific application of the platform with The Value Web.</p>

        <p id="colophonLinks">7 Stages of the Creative Process: <a href="http://www.mgtaylor.com/mgtaylor/glasbead/7stgcpgl.htm">MG Taylor Corporation</a>, <a href="http://notthisbody.com/">Notthisbody</a></p>
        <p id="colophonLinks">Vantage Points: <a href="http://www.mgtaylor.com/mgtaylor/glasbead/glyphs06.htm">MG Taylor Corporation</a>, <a href="http://notthisbody.com/">Notthisbody</a></p>
        <p id="colophonLinks">RECODE: <a href="http://recode.thevalueweb.org">MG Taylor Corporation</a>, <a href="http://notthisbody.com/">Notthisbody</a></p>
        <p id="colophonLinks">General: <a href="http://notthisbody.com/">Notthisbody</a></p>

        <p>Credits and inspiration:</p>
        <p id="colophonLinks"><a href="http://thenounproject.com/r0">Anton Gajdosik</a>, <a href="http://thenounproject.com/misirlou/">misirlou</a>, <a href="http://thenounproject.com/ArtZ91/">Arthur Shlain</a>, <a href="http://thenounproject.com/dtap/">Dave Tappy</a>, <a href="http://thenounproject.com/Icons8/">Icons8</a>, <a href="http://thenounproject.com/shanemilleryeah/">Shane Miller</a>, <a href="http://thenounproject.com/MarkieAnn/">MarkieAnn Packer</a>, <a href="http://thenounproject.com/cmozzati/">Christelle Mozzati</a>, <a href="http://thenounproject.com/nl_menghini/">Nicholas Menghini</a>, <a href="http://thenounproject.com/paultynes/">Paul Tynes</a>, <a href="http://thenounproject.com/Luca.Trinchero/">Luca Trinchero</a>, <a href="http://thenounproject.com/jerometave/">Jerome Tave</a>, <a href="http://thenounproject.com/johncaserta/">John Caserta</a>, <a href="http://thenounproject.com/wilsonjoseph/">Wilson Joseph</a>, <a href="http://thenounproject.com/dnlhtz/">dnlhtz</a>, <a href="http://thenounproject.com/tzog/">Nico Tzogalis</a>, <a href="http://thenounproject.com/marcbanderson/">Marc Anderson</a>, <a href="http://thenounproject.com/magzkan/">Magdalene Kan</a>, <a href="http://thenounproject.com/Ivanisawesome/">Ivan Colic</a>, <a href="http://thenounproject.com/FivebyFive/">Five by Five</a>, <a href="http://thenounproject.com/emmanuelmangatia/">Emmanuel Mangatia</a>, <a href="http://thenounproject.com/olivierguin/">Olivier Guin</a>, <a href="http://thenounproject.com/sapi/">Stefan Parnarov</a>, <a href="http://thenounproject.com/josemdelaa/">José Manuel de Laá</a>, <a href="http://thenounproject.com/howlettstudios/">Christopher T. Howlett</a>, <a href="http://thenounproject.com/mhsenkow/">Michael Senkow</a>, <a href="http://thenounproject.com/garrett.knoll/">Garrett Knoll</a>, <a href="http://thenounproject.com/Gatada/">Johan H. W. Basberg</a>, <a href="http://thenounproject.com/axoplasm/">PJ Souders</a>, <a href="http://thenounproject.com/Ilsur/">Ilsur Aptukov</a>, <a href="http://thenounproject.com/missamer/">Jenny Amer</a>, <a href="http://thenounproject.com/SimpleIcons/">Simple Icons</a>, <a href="http://thenounproject.com/stolkramaker/">stolkramaker</a>, <a href="http://thenounproject.com/imicons/">iconsmind.com</a>, <a href="http://thenounproject.com/riyazali/">riyazali</a>, <a href="http://cargocollective.com/gavinkeech">Gavin Keech</a>, <a href="http://poietic.tumblr.com">Ishan Shapiro</a>, <a href="http://browsearth.drupalgardens.com/">Benjamin Brownell</a>, <a href="http://marija.notthisbody.com/">Marija Coneva</a>, <a href="http://www.amazon.com/s?ie=UTF8&page=1&rh=n%3A283155%2Cp_27%3ACarl%20G.%20Liungman">Carl G. Liungman</a>, <a href="http://en.wikipedia.org/wiki/Juan_Eduardo_Cirlot">J.E. Cirlot</a></p>

        <p>We are also indebted to <a href="http://thenounproject.com/">The Noun Project</a>, an invaluable resource for iconography on the web, and also where many of the above creators' icons can be found.</p>

        <h4 id="colophonSection">MEDIA</h4>
        <p>Intro video: <a href="http://notthisbody.com/">Notthisbody</a>, <a href="https://uwaterloo.ca/arts/people-profiles/glenn-stillar">Glenn Stillar</a> <br>Tutorial videos: <a href="http://notthisbody.com/">Notthisbody</a></p>

        <h4 id="colophonSection">OPEN SOURCE CREDITS</h4>

        <p>We make extensive use of open source software for the various technologies, architectures, and interfaces that run Metamaps.cc. We would be unable to offer the service as we envision it without these publicly developed projects.</p>

        <p id="colophonCols">Javascript<br>
        Ruby-on-rails<br>
        Javascript Infoviz Toolkit<br>
        Backbone.js<br>
        Underscore.js<br>
        Famo.us<br>
        Typeahead.js</p><br>
        
      </div>
        <div class="clearfloat"></div>
      </div>

      <div class="lightboxContent" id="noIE">
        <h3>OOPS! <br> YOUR BROWSER IS NOT SUPPORTED.</h3>
        <p id="noIEsubheading">To view this experience, please upgrade to the latest one of these browsers:</p>
        <a id="chromeIcon" href="https://www.google.com/chrome/browser/" target="_blank">Chrome</a>
        <a id="fireFoxIcon" href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>
        <a id="safariIcon" href="http://support.apple.com/downloads/#safari" target="_blank">Safari</a>
        <p id="noIEbody">While it's downloading, explore our <a href="http://blog.metamaps.cc/">blog</a>,<br> watch the <a href="http://vimeo.com/88334167">tutorials</a>, or visit our <a href="http://support.metamaps.cc/">knowledge base</a>!

      </div>
      
      <div class="lightboxContent" id="tutorial">
        <h3>Tutorial</h3>
        <iframe src="//player.vimeo.com/video/88334167?title=0&amp;byline=0&amp;portrait=0" width="510" height="319" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      
      <div class="lightboxContent" id="cheatsheet">
        <%= render :partial => 'shared/cheatsheet' %>
      </div>    
      
      <% if authenticated? %>
        <% # this is the create new map form %>
        <div class="lightboxContent" id="newmap">  
          <%= render :partial => 'layouts/newmap' %>
        </div>
      
        <div class="lightboxContent" id="forkmap">  
          <%= render :partial => 'shared/forkmap' %>
        </div>

        <div class="lightboxContent" id="switchMetacodes">
          <%= render :partial => 'shared/switchmetacodes' %>
        </div>
      <% end %>
      
    </div>
  </div>
  <div id="lightbox_screen" style="height: 100%;"></div>
</div>

