<%#
  # @file
  # The inner HTML of the account box that comes up in the bottom left
  #%>


<div id="lightbox_overlay">
  <div id="lightbox_main">
    <a id="lightbox_close" onclick="cancelMapCreate('fork_map');cancelMapCreate('new_map');return false;" href="#"></a>
    <div id="lightbox_content">
      
      <div class="lightboxContent" id="about">
        <h3>About Metamaps.cc</h3>
        
        <p>Metamaps is an online interface for communities to build and visualize their shared knowledge. It is a tool to connect people, resources, and ideas in a big picture view, without losing context or detail.</p>

<p>Metamaps provides a window into complex systems. Maps are a natural way to spark insight, find opportunities, and create social synergy. The platform is evolving for a range of applications amidst a growing network of designers, developers, practitioners, entrepreneurs, and artists.</p>

<p>We're weaving a human scale web to enhance natural connectivity: the Metamaps project is a collaborative venture powered by a passionate collection of peers who have dedicated this effort to uncovering a wealth of knowledge held in common.</p>

<p>We are currently based between San Francisco, CA and Waterloo, Ontario, Canada. Learn more in the PAQ link below.</p>
        
        <ul>
          <li><a href="/paq">P(ossibly)AQ</a></li>
          <li><a href="http://blog.metamaps.cc" target="_blank">blog</a></li>
          <li><a href="https://plus.google.com/u/0/communities/115060009262157699234" target="_blank">community</a></li>
          <li><a href="https://twitter.com/metamapps" target="_blank">@metamapps</a></li>
          <li><a href="https://github.com/Connoropolous/metamaps_gen002" target="_blank">source code</a></li>
          <li><a href="http://metamaps.cc/maps/331" target="_blank">terms</a></li>
        </ul>
        <div class="clearfloat"></div>
      </div>
      
      <div class="lightboxContent" id="tutorial">
        <h3>Tutorial</h3>
        <div>Coming soon...</div>
        <!--<iframe width="510" height="383" src="//www.youtube.com/embed/0Bd8XxlNG3U?rel=0" frameborder="0" allowfullscreen></iframe>-->
      </div>
      
      <div class="lightboxContent" id="cheatsheet">
        <%= render :partial => 'layouts/cheatsheet' %>
      </div>
      
      <% if authenticated? %>
        <div class="lightboxContent" id="invite">
          <h3>Send Invites</h3>
          <p>You can invite others to the Metamaps platform. Send them this link</p>
          <p class="green">http://metamaps.cc/users/sign_up</p>
          <p>and give them the access code shown below.</p>
          <% mapper = current_user %>
          <p class="green"><%= mapper.code %></p>
          <p>We invite you to be conscious as to who you invite to this platform, because much of the collaborative editing is based on trust. We want to cultivate a community here that is fun, wise, creative, and flourishing. Can you help us build a community like that?</p>
        </div>
      
        <% # this is the create new map form %>
        <div class="lightboxContent" id="newmap">  
          <%= render :partial => 'maps/new' %>
        </div>
      
        <% if (controller_name == "maps" || controller_name == "topics" ) && action_name == "show"  %>
        <div class="lightboxContent" id="forkmap">  
          <%= render :partial => 'maps/fork' %>
        </div>
        <% end %>
      <% end %>
      
    </div>
  </div>
  <div id="lightbox_screen" onclick="cancelMapCreate('fork_map');cancelMapCreate('new_map');return false;" style="height: 100%;"></div>
</div>

