<div class="mapControls mapElement animations">
	<div class="zoomExtents mapControl">E</div>
	<div class="centerMap mapControl">C</div>
	<div class="zoomIn mapControl">+</div>
	<div class="zoomOut mapControl">-</div>
</div>

<div class="infoAndHelp">
    <div class="mapInfo infoElement mapElement animations">
    	<%= render :partial => 'maps/mapinfobox' %>
    </div>
    <div class="openCheatsheet openLightbox infoElement" data-open="cheatsheet"></div>
    <div class="clearfloat"></div>
</div>