<div class="mapControls mapElement">
	<div class="zoomExtents mapControl"></div>
	<div class="zoomIn mapControl"></div>
	<div class="zoomOut mapControl"></div>
</div>

<div class="infoAndHelp">
	<%= render :partial => 'maps/mapinfobox' %>
    <div class="mapInfoIcon infoElement mapElement"></div>
    <div class="openCheatsheet openLightbox infoElement" data-open="cheatsheet"></div>
    <div class="clearfloat"></div>
</div>