<div class="mapControls mapElement">
	<div class="takeScreenshot mapControl"><div class="tooltips">Capture Screenshot</div></div>
	<div class="zoomExtents mapControl"><div class="tooltips">Center View</div></div>
	<div class="zoomIn mapControl"><div class="tooltips">Zoom In</div></div>
	<div class="zoomOut mapControl"><div class="tooltips">Zoom Out</div></div>
</div>

<div class="infoAndHelp">
	<%= render :partial => 'maps/mapinfobox' %>
    <div class="mapInfoIcon infoElement mapElement"><div class="tooltipsAbove">Map Info</div></div>
    <div class="openCheatsheet openLightbox infoElement mapElement" data-open="cheatsheet"><div class="tooltipsAbove">Help</div></div>
    <div class="clearfloat"></div>
</div>
