<p>Hey there Metamapper with email <%= @resource.email %>!</p>

<p>Please create a new password. Your password needs to contain a capital letter, a number, an emoji, 7 elements from the Periodic Table, and a plot containing a protagonist with some character development and a surprise twist ending.</p>

<p>Just kidding. But it does have to be between 8 and 128 characters.</p>

<p>Change your password using the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, click your heels three times and pretend nothing ever happened.</p>
